body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

h2{
    color:black;
}
img{
  display: flex;
   flex-direction: column;
    padding:2%;
    width:25%;
   background-color: red;
   justify-content:space-evenly;   
   border-radius: 50%;
 

}

a{

}